* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-size: 20px;
}

iframe {
    height: 90vh;
    width: 90%;
    margin-left: 5%;
}

.flex {
    display: flex;
    height: 30px;
    position: fixed;
    bottom: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.flex input {
    width: 180px;
     border:seagreen 2px solid;
    color:#000;
    height:30px;
    padding:5px;
    box-sizing:border-box
}


.flex button {
    width: 50px;
    height: 30px;
    background:#fff;
    border:seagreen 2px solid;
    color:seagreen;
}

#list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#list .list-item {
    cursor: pointer;
    width: 80%;
    margin: 10px auto;
    left: 0;
    right: 0;
    padding: 15px;
    font-size: 22px;
    box-shadow: 0 0 20px #eeeeee;
    border-radius: 12px;
}
#list .list-item:hover{
    background-color: rgb(143, 202, 168);
}
#back{
    border: 2px solid seagreen;
    height: 38px;
    width: 150px;
    color: seagreen;
    text-align: center;
    cursor: pointer;
}

.blocker{
    position: fixed;
    z-index: 9;
    height: 90vh;
    width: 100%;
}