* {
    margin: 0;
    padding: 0;
}

input {
    font-size: 20px;
}

iframe {
    height: 90vh;
    width: 90%;
    margin-left: 5%;
}

.flex {
    display: flex;
    height: 30px;
    position: fixed;
    bottom: 0;
    padding: 0;
    left: 37%;
}

.flex input {
    width: 85%;
}

.flex button {
    width: 15%;
    height: 30px;
}

#list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#list .list-item {
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    border: 2px solid seagreen;
    padding: 10px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}